@model IEnumerable<Victor_Robinson_TP03ASPNET.Models.Aniversariante>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Adicionar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nascimento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


<h3> Buscar </h3>

<span> Digite o nome do Aniversariante que deseja buscar: </span>
@using (Html.BeginForm())
{
    <form asp-action="Buscar">
    <div class=" form-horizontal">
        <div class="form-group">
            <div class="col-md-20">
                <input type="text" name="pesquisa">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-20">
                <input type="submit" value="Buscar" class="btn btn-dark" />
            </div>
        </div>
    </div>
    </form>
}
